body{
    background:url(https://www.yucatan.gob.mx/docs/galerias/venado_cola_blanca/4.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:center ;

}
h1{
  text-align: center;
}