* {
margin:0;
padding:0;}

h1 {color: black;
    font-size: 3em;
    letter-spacing:10px ;
    word-spacing:20px ;
    text-shadow: 3px 3px 5px palevioletred;
    text-align: center;
    margin: ;
}

.morado{
    color: blueviolet;
}

.derecha{
    text-align: right;
    font-style: italic;
}
